* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

[v-cloak] {
	display: none !important;
}
.box {
	width: 100%;
	height: 100%;
}

.box1 {
	width: 1226px;
	height: 932px;
	margin: 0 auto;
}

.topTitle {
	height: 100px;
	width: 100%;

}

.ttLeft {
	width: 234px;
	height: 100px;
	padding: 0;
	margin-right: 0;
	display: inline-block;
	padding-top: 20px;
	vertical-align: middle;
}

.ttLeft img {
	background-color: #ff6700;
	width: 55px;
	height: 55px;
	display: inline-block;
}

.topTitle ul li {
	display: inline-block;
	padding: 0 8px 0 8px;
}

.topTitle ul {
	width: 650px;
	display: inline-block;
}

.topTitle a {
	text-decoration: none;
	color: #333;
}

.topTitle a:hover {
	color: #ff6700;
}

.ttRight {
	display: inline-block;
}

.ttRight :first-child {
	width: 245px;
	height: 50px;
	float: left;
	border: 1px 0px 1px 1px;
}

.ttRight :last-child {
	width: 55px;
	height: 50px;
	border: 1px 1px;
}

.ttRight :last-child:hover {
	background-color: #ff6700;
}

.carousel {
	width: 1226px;
	height: 460px;
	position: relative;
}

.carLeft {
	width: 234px;
	height: 460px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
}

.carLeft ul {
	list-style: none;
	padding: 20px 0 20px 0;
}


.carLeft ul li a {
	text-decoration: none;
	color: #fff;
	padding-left: 30px;
	display: block;
	height: 42px;
	line-height: 42px;
}

.carLeft ul li:hover {
	background-color: #ff6700;
}

.carReft {
	width: 100%;
	height: 100%;
}

.carBottom {
	width: 1240px;
	height: 170px;
	margin-top: 14px;
	margin-bottom: 26px;
}


.carB1 {
	width: 234px;
	height: 170px;
	display: inline-block;
}

.carB1 ul {
	width: 234px;
	height: 170px;
	margin: 0;
	padding: 3px;
	list-style-type: none;
	font-size: 12px;
	background: #5f5750;
}

.carB1 li {
	display: inline-block;
	list-style: none;
	height: 82px;
	width: 70px;
	text-align: center;
	line-height: 82px;
	padding: 0 3px;
}

.carB1 ul li a {
	text-decoration: none;
	color: #fff;

}

.carB2 {
	width: 316px;
	height: 170px;
	margin-left: 14px;
	display: inline-block;
	vertical-align: top;
}

.carB2 img {
	width: 100%;
	height: 100%;
}

.middle {
	width: 1226px;
	height: 120.03px;
	margin-bottom: 42px;
}

.middle img {
	width: 100%;
	height: 100%;
}

.box2 {
	width: 100%;
	height: 20000px;
	background-color: #f5f5f5;
}

.bottomBox {
	margin: 0 auto;
	width: 1226px;
	height: 2000px;
	padding-top: 22px;
}

.b2head {
	height: 52px;
	width: 1226px;

}

.b2headRight {
	float: right;
	width: 92px;
	height: 52px;

}

.b2head h2 {
	font-size: 22px;
	font-weight: 200;
	line-height: 52px;
	color: #333;

	display: inline-block;
}

.b2headRight a {
	text-decoration: none;
	color: #424242;
	line-height: 52px;
}

.commodity {
	width: 1226px;
	height: 628px;
	margin-bottom: 8px;
}

.commodityLeft {
	width: 234px;
	height: 614px;
	float: left;
	/* margin-left: -14px; */
	transition: all .2s linear;

}

.commodityLeft img {
	height: 100%;
	width: 100%;
}

.commodityRight {
	width: 992px;
	height: 628px;
	float: left;
}

.commRList {
	width: 234px;
	height: 300px;
	margin-left: 10px;
	margin-bottom: 14px;
	padding: 20px 0;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	background-color: #fff;
	position: relative;
	transition: all .2s linear;

}

.dongHua:hover {
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0);
}

.commTitle {
	width: 64px;
	height: 20px;
	margin: 0 auto;
	background-color: #83c44e;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 37%;
}

.commRList img {
	width: 160px;
	height: 160px;
	display: inline-block;
}

.commRList a {
	text-decoration: none;
	display: block;
	color: #333;
	font-size: 14px;
	font-weight: 400;
}

.commRList span {
	margin: 0 10px 10px;
	height: 18px;
	font-size: 12px;
	color: #b0b0b0;
}

.commRList .price {
	color: #ff6700;
	font-size: 14px;
	margin-right: 3px;
	display: inline-block;
}

.commRList p {
	margin: 14px;
}

.commRList del {
	font-size: 14px;
	color: #b0b0b0;
}

.tupian {
	width: 1226px;
	height: 120px;
	margin-top: 28px;
	margin-bottom: 22px;
}

.tupian img {
	width: 100%;
	height: 100%;
}

.tupianLeft {
	width: 280px;
	height: 42px;
	float: right;
	margin: auto 0;

}

.tupianLeft ul {
	width: 280px;
	height: 26px;
	display: inline-block;
	margin-top: 15px;

}

.tupianLeft li {
	list-style: none;
	display: inline;
	margin: 0 0 0 25px;
	font-size: 16px;

}

.aa {
	width: 234px;
	height: 300px;
	margin-bottom: 14px;
	transition: all .2s linear;
}

.hot-sale {
	width: 1226px;
	height: 415px;
	margin-bottom: 20px;


}

.hot-sale ul {
	width: 1240px;
	height: 415px;
	display: flex;
	justify-content: space-between;
}

.hot-sale li {
	width: 296px;
	height: 415px;
	display: inline-block;
	margin-bottom: 14px;
	transition: all .2s linear;
	background: #fff;
}

.hot-sale li img {
	display: block;
	width: 296px;
	height: 220px;
	margin-bottom: 28px;
}

.hot-p1 {
	width: 240px;
	height: 72px;
	margin: 0 28px;


}

.hot-sale a {
	text-decoration: none;
	color: #333;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.hot-sale p {
	margin: 0 28px 8px;
	padding: 0 10px 0 0;
	font-size: 12px;
	color: #b0b0b0;
}

.hot-sale div {
	margin: 0 30px;
}

.hot-sale div span {
	font-size: 14px;
	font-weight: 400;
}

.hot-sale div a {
	color: #ff6700;

}

.hot-sale div span:nth-child(2) {
	margin: 0 5.5px;
	color: #e0e0e0;
}

.dongHua1 {
	position: relative;
	overflow: hidden;
}

.dongHua1 div.mask {
	width: 234px;
	height: 70px;
	background-color: #ff6700;
	position: absolute;
	bottom: -70px;
	left: 0;
	transition: all 0.3s linear;
	display: flex;
	flex-direction: column;

}

.dongHua1 .show {
	/* display: none; */
	/* transition: all 1s linear; */
	transform: translateY(-70px);
}


.dongHua1 .mask .maskSpan1 {
	margin-top: 5px;
	color: #fff;
}

.dongHua1 .mask .maskSpan2 {
	color: rgba(255, 255, 255, 0.6);
}

.hot-saleM {
	overflow: hidden;
	padding-top: 45px;
	position: relative;

}

.hot-saleM .hot-saleS1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 374px;
	;
}

.hot-saleS .hot-saleS1 img {
	height: 154px;
	width: 216px;
	margin: 0 auto;
}

.hot-saleS1 h2 {
	margin-bottom: 18px;
	color: #ff6700;
	font-size: 16px;
	font-weight: 400px;
}

.hot-saleS1 h4 {
	margin-bottom: 5px;
	font-size: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hot-saleS1 p {
	padding: 0;
	margin-bottom: 10px;
	height: 40px;

}

.hot-saleS .hot-saleS1 .price {
	height: 21px;
	margin-bottom: 15px;
	color: #333;
	font-size: 14px;
}

.hot-saleS .hot-saleSB {
	height: 30px;
	width: 90px;
}

.hot-saleS .hot-saleSB li {
	width: 20px;
	height: 20px;
	margin-top: 20px;

}

.hot-saleS .hot-saleSB li span {
	background-color: #b0b0b0;
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid #f5f5f5;
	border-radius: 6px;
	margin: auto;
}

.atn1,
.atn2 {
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	background-color: rgba(66, 66, 66, 0.2);
	padding-top: 7px;

}

.atn1 {
	position: absolute;
	top: 176px;
	left: 0px;
	display: none;
}

.atn2 {
	position: absolute;
	top: 176px;
	right: 0px;
	display: none;

}
.hot-saleM .hot-saleS{
	width: 888px;
}
